
.student-record-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}

.encrypt-records-container {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    
}

.encrypt-records-container > div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

/* Additional styling for the form elements */
/* You can customize this further based on your design */
.input-field {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
